name: CI / CD Pipeline with Argocd

on: 
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: DockerHub login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push docker image 
        uses: docker/build-push-action@v6.18.0
        with: 
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/your-disc:v${{ github.run_number }}
  
  CD:
    needs: [CI]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitOps
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.REPOSITORY }}
          path: k8s
          token: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Update manifest
        run: |
          cd k8s
          sed -i 's|image: ${{ secrets.DOCKER_USERNAME }}/your-disc:.*|image: ${{ secrets.DOCKER_USERNAME }}/your-disc:v${{ github.run_number }}|g' deployment.yaml

      - name: Commit and push manifest changes
        run: |
          cd k8s
          git config --local user.name 'github-actions[bot]'
          git config --local user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          git commit -m "feat: Update image to ${{ github.run_number }}"
          git push origin main